.cate{
    margin-top: 4%;
    margin-left: 8%;
}
.lis{
    margin-top: 1%;
}

.list{
    margin-top: 4%;
}

.labe{
 margin-top: 4%;
}
.lis input{
    padding-right: 15%;
}
.labe input{
    padding-right: 15%;
}
.cate button{
    color:#ffffff;
    background-color: rgb(41, 141, 235);
 
}
.list button{
margin-left: 1%;
margin-top: 1%;
}
