<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">

<div class="cate">
<button>Switch to New Category</button>
<div class="lis">
  <label for="fname">Category:</label>
<!-- <select name="category" id="category">

  <option value="select">Select Category</option>
  <option value="scrum">Scrum</option>
  <option value="kanban">Kanban</option>
  <option value="xp">Xp</option>
</select> -->
</div>

<div class=" labe">
  <label for="fname">Category</label><br>
  <input  formControlName="category" >
</div>

<div class=" labe">
  <label for="fname">First Name</label><br>
  <input  formControlName="name" placeholder="Your name..">
</div>
<div class=" lis">
  <label for="fname">Image Path</label><br>
  <input  formControlName="image" placeholder="URL">
</div>

<div class="list">
  <label for="html">Featured:</label>
    <input type="radio" id="html" formControlName="yess" value="feature">
    <label for="html">Yes</label>
    <input type="radio" id="css" formControlName="noo" value="featured">
    <label for="css">No</label><br>
  <label for="html">Activation Status:</label>
    <input type="radio" id="yes" formControlName="yes" value="Activation">
    <label for="yes">Yes</label>
    <input type="radio" id="no" formControlName="no" value="deactivation">
    <label for="no">No</label><br>
  <button>submit</button>
  <button>Cleart</button>
  <button>go to managepost</button>
</div>
</div>

</form>

