
    <h2>Specification</h2>
    <div class="align">
      
<div class="gallery" >
    <img [src]="specs?.imageurl"  >
</div>
    

<div class="side"> 
  <h3>Description</h3>
    <div style="width: 10%;">
<table>
    <tr>
      <th>MODEL </th>
      <td>{{specs?.model}}</td>
    </tr>
    <tr>
      <th>RAM</th>
      <td>{{specs?.ram}}</td>
    </tr>
    <tr>
      <th>INTERNAL STORAGE </th>
      <td>{{specs?.internalstorage }}</td>
    </tr>
  </table>
 
  </div>

  <h3>Our Service</h3>
  <div class="around">
   
   <div class="center"> 
    <img src="https://static.thenounproject.com/png/3216043-200.png "  width="35" height="40">
    <div>cash on delivery</div>
</div>
<div class="center">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqBFerd76YgFRXX20bmxw0Na__7SWtMnWayA&usqp=CAU"  width="35" height="40">
    <div>7 days Replacement</div>
</div>
  <div class="center">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUz8NhdmTbmaU1BukgE5MWWX0TgITCnIbMaJFQbMx4rENB20N7qCLCR8aw0D8ogiNmpPs&usqp=CAU" width="35" height="40">
    <div>1year warranty</div>
</div>
<div class="center">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwnoe-rsWoRghLlA4ryTPQnfdmocfXNv8rSTq4DJytcDLI5ZuU1AD1LV5h9fvM_aUtaxs&usqp=CAU"  width="35" height="40">    
    <div>Fast Delivery </div>
</div>
</div>
<div>
    <h3>About Item</h3>
    <p>{{specs?.about}}</p>
</div>
</div>
</div>