h3{
    text-align: center;
    color: black;
    font-style: bold;
    font-weight: 600;
    margin-top: 3%;
}

.content {
    position: absolute;
    bottom: 0;
    padding:16px;
}
button{
    color: white;
    background-color: orange;
    border: none;
   }

a{
    /* position: absolute;
    top: 16.5%;
    left: 1%; */
    display: block;
    color: white;
    font-size: 20px;
    font-family:"https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,200;1,400&display=swap" rel="stylesheet";
}


.duration{ 
    color: rgb(189, 184, 184);
    font-size: 15px;
    padding: 13px;
    font-weight: 400;
}
button:hover{
    background-color: rgb(221, 151, 21);
}
.align{
    display:flex;
    justify-content: space-evenly;
    width: 90%;
    margin-left: 85px;
    margin-top: 2%;
}

.recents{
  background:url('../../assets/Albert-Einstein.jpg')no-repeat;
background-size: cover;
position: relative;
width: 480px;
height: 300px;
}

.recents:hover{
    top: -3px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
    cursor: pointer;
}



/*---------featured------*/
.center{
    display:flex;
    row-gap: 60px;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    margin-left: 230px;
    margin-top: 3%;
   
}


.gallery {
    margin: 5px;
    float: left;
    width: 280px;
    height: auto;
  }
  
  .gallery:hover {
    box-shadow: 0 10px 20px rgb(0 0 0 / 30%);
    cursor: pointer;
  }
  
  .gallery img {
    width: 100%;
    height: auto;
  }
  
  .descp {
    padding: 30px;
    text-align: center;
  }
.descp a{
    color: black;
    padding-top: 2px;
}
.descp .durations{
    color: rgb(92, 91, 91);
    font-size: 15px;
    padding: 19px;
    font-weight: 400;
}

/*-----order-----*/

.order{
    display: flex;
 flex-wrap: wrap;
 justify-content: center;
 top: 5%;
padding-left: 18rem;
}

.ok{
    margin-left: -18rem;
}
.col{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    
}

.col a{
    display: inline;
    color: black;
    padding: 2rem;
}
