<h3>Recents Posts</h3>
<div class="align">
  <div class="recents">
    <div class="content">
      <button>SCRUM</button>
      <span class="duration">August 10,2021 </span>
      <a>Albert Article</a>
    </div>
  </div>

  <div class="recents">
    <div class="content">
      <button>SCRUM</button>
      <span class="duration">August 10,2021 </span>
      <a>Albert Article</a>
    </div>
  </div>
  
</div>

<h3>Featured</h3>
<div class="center">

<div class="gallery" *ngFor="let sakthi of cards">
  <img [src]="sakthi.image"  alt="Cinque Terre" width="600" height="400">
<div class="descp"> <button>{{sakthi.category}}</button>
  <span class="durations">{{sakthi.createdate.toDate() | date :'longDate'}} </span>
  <a>{{sakthi?.name}}</a></div>
</div>



</div>


<div class="ok">
<div class="order">
  <div class="col" >
  <h3>Scrum</h3>
  <div>
  <img src="../../assets/Albert-Einstein.jpg" alt="Cinque Terre" width="90" height="90">
  <a >article</a>
</div>
<div>
  <img src="../../assets/Albert-Einstein.jpg" alt="Cinque Terre" width="90" height="90">
  <a >article</a>
</div>
<div>
  <img src="../../assets/Albert-Einstein.jpg" alt="Cinque Terre" width="90" height="90">
  <a >article</a>
</div>
</div>
 
<div class="order">
<div class="col" >
  <h3>kanban</h3>
  <div>
  <img src="../../assets/Albert-Einstein.jpg" alt="Cinque Terre" width="90" height="90">
  <a >article</a>
</div>
<div>
  <img src="../../assets/Albert-Einstein.jpg" alt="Cinque Terre" width="90" height="90">
  <a >article</a>
</div>
<div>
  <img src="../../assets/Albert-Einstein.jpg" alt="Cinque Terre" width="90" height="90">
  <a >article</a>
</div>
</div>

<div class="order">
  <div class="col" >
    <h3>Xp</h3>
    <div>
    <img src="../../assets/Albert-Einstein.jpg" alt="Cinque Terre" width="90" height="90">
    <a >article</a>
  </div>
  <div>
    <img src="../../assets/Albert-Einstein.jpg" alt="Cinque Terre" width="90" height="90">
    <a >article</a>
  </div>
  <div>
    <img src="../../assets/Albert-Einstein.jpg" alt="Cinque Terre" width="90" height="90">
    <a >article</a>
  </div>
</div>
</div>